<!--Main Navigation-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
<!--
          <a routerLink="/home"  class="nav-link">Home <span class="sr-only">(current)</span></a>
-->
          <a routerLink="/home"  routerLinkActive="active" class="nav-link">Home</a>


        </li>
        <li class="nav-item">
          <a routerLink="/list" routerLinkActive="active" class="nav-link">List Contacts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact Form</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<!--Main Navigation-->




<router-outlet></router-outlet>
<!-- Routed Views goes here -->
