<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col text-center">
        <h2>Contact Form content</h2>
        <!--Register form-->
        <form>
          <p class="h5 text-center mb-4">Sign up</p>

          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" mdbActive>
            <label for="orangeForm-name">Your name</label>
          </div>
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="orangeForm-email" class="form-control" mdbActive>
            <label for="orangeForm-email">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
            <label for="orangeForm-pass">Your password</label>
          </div>

          <div class="text-center">
            <button class="btn btn-deep-orange waves-light" mdbRippleRadius>Sign up</button>
          </div>

        </form>
        <!--/Register form-->
        <!--<h5>It will always stay visible on the top, even when you scroll down</h5>
        <br>
        <p>Full page intro with background image will be always displayed in full screen mode,
          regardless of device </p>-->
      </div>
    </div>
  </div>
</main>
